<form action="<%= post_comments_url(post) %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
<textarea name="comment[content]"></textarea>
  <button>Submit Comment</button>
</form>