<!-- sub index -->
<h1>Welcome to ReReddit</h1>
<h2>List of your subs</h2>

<% @subs.each do |sub| %>
  <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
  <%= sub.description %>
	<% if current_user.id == sub.moderator_id %>
  	<a href="<%= edit_sub_url(sub) %>">Edit</a>
	<% end %>
  <br>
<% end %>